.about {
  min-height: 100vh;
  position: relative;
  background-color: #f0ecec;
}

.about .line-styling{
position: absolute;
top: 50px;
left: 50%;
transform: translateX(-50%);
height: 50px;
width: 85%;
display: flex;
align-items: center;
justify-content: space-between;
}

.about .line-styling .style-circle{
width: 10px;
height: 10px;
border-radius: 50%;
}
.about .line-styling .style-line{
width: 95%;
height: 5px;
border-radius: 10px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.profile {
  position: relative;
  width: 300px;
  height: 350px;
  background: url("../../images/cv_photo.jpg");
  background-size: cover;
  cursor: pointer;
  border: 12px;
  border-top-right-radius: 35px !important;
  border-radius: 6px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 12px;
  cursor: pointer;
  opacity: 0;
  transition: all 1s;
  border-top-right-radius: 35px !important;
  border-radius: 6px;
}

.profile:hover .overlay {
  opacity: 1;
}

.social-icons {
  display: flex;
  list-style: none;
  bottom: 10px;
  position: absolute;
  text-align: center;
  justify-content: center;
  left: 22px;
}

.social-icons li {
  width: 25px;
  height: 25px;
  border: 1px solid #eee;
  padding: 20px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
  transition: all 1s;
}

.social-icons li:hover {
  background: #fff;
  color: #000;
}

.overlay .about-me {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  top: 40%;
  color: #fff;
  flex: column;
}








.card-list{
  border:none;
  position:relative;
  overflow:hidden;
  border-radius:8px;
  cursor:pointer;
  background:#FFF;
}

.card-list:before{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#afbbc0;
  transform:scaleY(1);
  transition:all 0.5s;
  transform-origin: bottom
}

.card-list:after{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#7b99a5;
  transform:scaleY(0);
  transition:all 0.5s;
  transform-origin: bottom
}

.card-list:hover::after{
  transform:scaleY(1);
}

.fonts{
  font-size:11px;
}